html {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC",
    "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  font-size: 14px;
  color: #caccce;
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
}
p {
  margin: 0;
}
a {
  color: #444;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.effect-list {
  display: block;
  font-size: 18px;
  color: #008a7c;
  line-height: 2;
  text-align: left;
}
.effect-list:hover {
  color: #00665c;
}

.content {
  position: relative;
  height: 100%;
  min-width: 320px;
  overflow: hidden;
  background-color: #19222b;
}

.github {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}
.header {
  padding: 1px;
  background-color: #008a7c;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
}
.header a {
  color: inherit;
}
.header h1 {
  font-weight: normal;
  font-size: 24px;
  margin: 10px 0;
}
.main {
  text-align: center;
}
.col-1-3 {
  padding: 10px;
}
.title {
  margin: 0;
  letter-spacing: 2px;
  line-height: 2.4;
  text-align: left;
  text-shadow: 0 1px 1px hsla(0, 0%, 10%, 0.5);
}
.post-list {
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 3px 3px hsla(0, 0%, 0%, 0.15),
    0 6px 6px 6px hsla(0, 0%, 0%, 0.07);
}
.post-list a {
  display: block;
  padding: 12px;
  background-color: #fff;
  text-align: left;
  text-shadow: 0 1px 1px hsla(0, 0%, 100%, 0.8);
  /* text-shadow: 0 -1px 1px hsl(0, 0%, 0%); */
}
.post-list a:hover {
  color: #008a7c;
}

.post-list time {
  color: #aaa;
  padding-right: 5px;
}

.post-list a:hover time {
  color: #555;
}
.footer {
  padding: 12px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #999;
  border-top: 1px solid #eee;
  background-color: #fff;
  z-index: 1;
}

canvas {
  transform: translateY(-100px);
}
@media screen and (min-width: 1200px) {
  .main {
    padding: 0 40px;
  }
}
